*{
    font-family: Arial, Helvetica, sans-serif;
    
   
    padding: 0;
    margin: 0;
}

/* body{
    width: 100%;
    
    text-align: center;
 }    */

header{
  background-color: #1f746a;
  height: 60px;
  width: 100%;
  padding: 10px;
 border-bottom: 5px solid blanchedalmond;
  text-align: center;
  
 
}
   
li{
  top: 5px; 
  left: 38%;
  padding: 20px;
  display:inline
}

.topnav {
  background-color: #1f746a ;
  position:relative;
  height: 100%;
  width: 40%;
  left: 55%;
  padding:10px;
  font-size: 20px;
  margin-top: 10px;
  font-size: 30px;
}

.links{
    color:blanchedalmond;
    text-decoration: none;
}

.me{
 background-color: #5cbbc1;
 color:#1f746a;
 position: absolute;
 width: 30%;
 font-size: 50px;
}

.container{
    width:100%;
    height: 100vh;
}

.banner{
   width: 100%;
   height: 30vh;
   background-image: url(../assets/images/fence.jpg);
   background-size: cover;
   background-position: 69%;
   position: static;
}

#text{
 width: 240px;
 padding: 20px;
 text-align: center;
 background-color:#1f746a;
 color: #5cbbc1;
 position: absolute;
 font-size: 30px;
 margin-top: 100px;
 left: 70%;

}

.box {
    
    color: black;
    padding: 50px;
    font-size: 150%;
  }

  .sidebar {
    text-align:end;
    grid-area: sidebar;
    border-right: 5px solid #1f746a;
    background-color: var(--light)
    
  }

  .sidebar2{
    text-align: end;
    grid-area: sidebar2;
    border-right:5px solid #1f746a;
    background-color: var(--light);
    
  }

  .sidebar3{
    text-align: end;
    grid-area: sidebar3;
    border-right: 5px solid #1f746a;
    background-color: var(--light);
  }
  
  .content {
    grid-area: content;
    
    width: 800px;
    font-size: 20px;
  }
  .content2 {
    grid-area: content2;
    
    
    
  }

  .footer {
    grid-area: footer;
    max-width: 800px;
  }



.container {
    display: grid;
    justify-content: flex-start;
    
    grid-gap: 20px;
    grid-template-columns: 200px 100px 300px;
    grid-template-rows:  200px 500px 100px;
    
    grid-template-areas:
    
    "sidebar content content"
    "sidebar2 content2 content2"
    "sidebar3 footer  footer";
    background-color: white;
    
  }

.footer {
  background-color:blanchedalmond;
}

.nested{
    display: grid;
   
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    margin: 0;
    
  }

  .nested p{
    border: 2px solid royalblue;
    margin: 0;
  }